@import '../../styles/reset';
@import '../../styles/vars';

// Main left
.mainleft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 1rem;
  background-color: $dark-purple;
  border: 1px dashed $green;
}
